Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
API/obj/project.nuget.cache
API/obj/project.nuget.cache
API/obj/Debug/net9.0/API.AssemblyInfoInputs.cache
