Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
API/obj/project.nuget.cache
API/obj/project.nuget.cache
API/obj/Debug/net9.0/API.AssemblyInfoInputs.cache
API/reactivities.db-shm
API/reactivities.db-wal
Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net9.0/Application.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
Persistence/obj/Debug/net9.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net9.0/Persistence.csproj.AssemblyReference.cache
API/obj/Debug/net9.0/API.assets.cache
Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
API/obj/API.csproj.nuget.dgspec.json
API/obj/Debug/net9.0/API.AssemblyInfo.cs
API/obj/Debug/net9.0/API.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
Domain/obj/Debug/net9.0/Domain.AssemblyInfo.cs
Persistence/obj/Debug/net9.0/Persistence.AssemblyInfo.cs
node_modules
